.tinyspace {
  margin-top: 0.3em;
}

.smaller {
  font-size: smaller;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.label.item {
  text-align: right;
}

.label.name, .label.value {
  display: inline-block;
  background-color: #ff9800;
  padding: 2px 7px 3px;
  margin: 1px 0;
}

.label.name {
  color: white;
  background-color: #ef6c00;
}

.label.value {
  background-color: #ff9800;
}

.slabel.name, .slabel.value {
  display: inline-block;
  padding: 2px 7px 3px;
  margin: 1px 0; 
}

.slabel.name {
  color: white;
  background-color: #f9a825;
  border-radius: 10px 0 0 10px;
}

.slabel.value {
  background-color: #ffeb3b;
  border-radius: 0 10px 10px 0;
}
